{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">

        <h1>Log In</h1>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <input type="hidden" name="_target_path" value="/dashboard">

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}
